footer.Footer
	.Footer_address Новосибирск, #[br.hidden-smPlus]ул. Серафимовича, д. 10 
	ul.Footer_contacts
		li.Footer_contact
			a(href="tel:+73833054111") +7 383 305-41-11
		li.Footer_contact
			a(href="mailto:info@serafimovicha.ru") info@serafimovicha.ru
	.Soclinks.Soclinks-inline.Footer_soclinks
		ul.Soclinks_list
			li.Soclinks_item
				a(href="http://instagram.com" target="_blank").Soclink.Soclink-white.Soclink-instagram
			li.Soclinks_item
				a(href="http://fb.com" target="_blank").Soclink.Soclink-white.Soclink-fb
			li.Soclinks_item
				a(href="http://vk.com" target="_blank").Soclink.Soclink-white.Soclink-vk
	.Footer_copyright
		p Информация на сайте не является публичной офертой
		p © ЖК на Серафимовича, 2021