.LeftSidebar.hidden-smMinus
  a(href="/" title="Квартал на Серафимовича").Logo.LeftSidebar_logo
    img(src="/img/logo.svg" alt="Квартал на Серафимовича").Logo_img
  a(href="#").MenuLink.LeftSidebar_menuLink Меню
  .Soclinks.LeftSidebar_soclinks
    ul.Soclinks_list
      li.Soclinks_item
        a(href="http://instagram.com" target="_blank").Soclink.Soclink-instagram
      li.Soclinks_item
        a(href="http://fb.com" target="_blank").Soclink.Soclink-fb
      li.Soclinks_item
        a(href="http://vk.com" target="_blank").Soclink.Soclink-vk