.LeftSidebar.hidden-smMinus
  a.Logo.LeftSidebar_logo(href="/", title="Квартал на Серафимовича")
    img.Logo_img(src="/img/logo.svg", alt="Квартал на Серафимовича")
  a.MenuLink.LeftSidebar_menuLink(href="#") Меню
  .Soclinks.LeftSidebar_soclinks
    ul.Soclinks_list
      li.Soclinks_item
        a.Soclink.Soclink-instagram(href="http://instagram.com", target="_blank")
      li.Soclinks_item
        a.Soclink.Soclink-fb(href="http://fb.com", target="_blank")
      li.Soclinks_item
        a.Soclink.Soclink-vk(href="http://vk.com", target="_blank")
