.LeftSidebar.hidden-smMinus
  a(href="/" title="Квартал на Серафимовича").Logo.LeftSidebar_logo
    img(src="/img/logo_white.svg" alt="Квартал на Серафимовича").Logo_img
  a(href="#").MenuLink.MenuLink-white.LeftSidebar_menuLink Меню
  .Soclinks.LeftSidebar_soclinks
    ul.Soclinks_list
      li.Soclinks_item
        a(href="http://instagram.com" target="_blank").Soclink.Soclink-white.Soclink-instagram
      li.Soclinks_item
        a(href="http://fb.com" target="_blank").Soclink.Soclink-white.Soclink-fb
      li.Soclinks_item
        a(href="http://vk.com" target="_blank").Soclink.Soclink-white.Soclink-vk