.Navbar.Navbar-offCanvas
  a(href="/" title="Квартал на Серафимовича").Logo.Navbar_logo
    img(src="/img/logo_white.svg" alt="Квартал на Серафимовича").Logo_img
  .MainMenu.Navbar_mainMenu
    ul.MainMenu_list
      li.MainMenu_item
        a(href="#").MainMenu_link О проекте
      li.MainMenu_item
        a(href="#").MainMenu_link Расположение
      li.MainMenu_item
        a(href="#").MainMenu_link Преимущества
      li.MainMenu_item
        a(href="#").MainMenu_link Квартиры
  a(href="#").BtnOutline.BtnOutline-arrowRight.Navbar_btn Выбрать квартиру
.Overlay.Overlay-hidden