.Navbar.Navbar-offCanvas
  a.Logo.Navbar_logo(href="/", title="Квартал на Серафимовича")
    img.Logo_img(src="/img/logo_white.svg", alt="Квартал на Серафимовича")
  .MainMenu.Navbar_mainMenu
    ul.MainMenu_list
      li.MainMenu_item
        a.MainMenu_link(href="#") О проекте
      li.MainMenu_item
        a.MainMenu_link(href="#") Расположение
      li.MainMenu_item
        a.MainMenu_link(href="#") Преимущества
      li.MainMenu_item
        a.MainMenu_link(href="#") Квартиры
  a.BtnOutline.BtnOutline-arrowRight.Navbar_btn(href="#") Выбрать квартиру
.Overlay.Overlay-hidden
