.PlanSolution
  .PlanSolution_imgWrapper
    img.PlanSolution_img(src="/img/plan_solution.svg", alt="Планировочное решение")
  ul.PlanSolution_characteristics
    li.PlanSolution_characteristic
      .PlanSolution_characteristicName площадь
      .PlanSolution_characteristicValue от 32,5 м #[sup 2]
    li.PlanSolution_characteristic
      .PlanSolution_characteristicName стоимость
      .PlanSolution_characteristicValue от 9,4 млн руб
