.About
	position relative
	z-index 10
	background url('../img/bg_about.png') right 53% / 64% auto no-repeat, linear-gradient(0deg, $white 0%, $beige 100%)
	
	&_contactsBlock
		position absolute
		z-index 10
		top 0
		right 0
	
	&_container
		position relative
		width 1060px
		max-width 100%
		padding-top 145px
		padding-left 340px
	
	&_title
		margin-bottom 24px
	
	&_text
		max-width 480px
		margin-bottom 3em
		font-size 18px
		line-height 1.89
		letter-spacing 0.02em
		
		p
			margin-bottom 1.8em
			
			&:last-child
				margin-bottom 0
	
	&_statistics
		margin-bottom 116px
	
	&_circleImg
		margin-left -142px