.Advantage
	display grid
	grid-template-columns 578px 480px
	column-gap 154px
	align-items end
	padding-right 25px
	color $white
	
	@media $xlMinus
		grid-template-columns 410px minmax(auto, 345px)
		column-gap 80px
	
	@media $smMinus
		grid-template-columns 348px minmax(auto, 345px)
		column-gap 32px
		align-items center
	
	@media $xs
		grid-template-columns 1fr
		padding-right 0
	
	&_imgWrapper
		position relative
		font-size 0

		@media $xs
			margin-bottom 33px
	
	&_img
		&-overlay
			position absolute
			bottom 0
			left 21.5%
			
			@media $xlMinus
				width 274px
			
			@media $smMinus
				right 0
				bottom -67.6%
				left auto
				width auto
	
	&_sectionTitle
		position absolute
		top 6.6%
		right -78%
		width 604px
		
		@media $xlMinus
			top 7.2%
			right -81.2%
			width 440px
		
		@media $smMinus
			top -24.4%
			right -83%
			width 604px
	
	&_textWrapper
		margin-bottom 132px
		
		@media $xlMinus
			margin-bottom 93px
		
		@media $smMinus
			margin-bottom 0
		
		@media $xs
			padding-right 15px
			padding-left 15px
	
	&_title
		margin-bottom 0.8em
		color $brown
		font-weight normal
		font-size 40px
		font-family $forum 
		
		@media $xlMinus
			font-size 34px
		
		@media $smMinus
			font-size 40px
		
		@media $xs
			margin-bottom 20px
			font-size 34px
			line-height 1.1176
	
	&_text
		line-height 1.625
		font-size 16px
		
		@media $xlMinus
			font-size 12px
		
		@media $smMinus
			font-size 16px
		
		@media $xs
			letter-spacing 0.02em
			line-height 1.75
	
	&-mop
		align-items start
		grid-template-columns 430px auto
		column-gap 68px
		padding-right 0
		
		@media $xlMinus
			grid-template-columns minmax(auto, 287px) auto
			column-gap 40px
		
		@media $smMinus
			grid-template-columns 1fr
		
		@media $xs
			grid-template-columns 1fr
		
		.Advantage_textWrapper
			order -1
			margin 97px 0 0 0
			
			@media $xlMinus
				margin-top 67px
			
			@media $smMinus
				margin-top 70px
				margin-right 298px
				margin-left 30px
				padding-right 40px
			
			@media $xs
				order 0
				margin 0
		
		.Advantage_imgWrapper
			padding-bottom 24.6%
			text-align right

			@media $smMinus
				order -1
				padding-bottom 0
	
	&-apartments
		grid-template-columns 36.1% 494px
		column-gap 170px
		align-items center
		
		@media $xlMinus
			grid-template-columns minmax(auto, 35.6%) minmax(auto, 364px)
			column-gap 80px
		
		@media $smMinus
			grid-template-columns 348px minmax(auto, 350px)
			column-gap 32px
		
		@media $xs
			grid-template-columns 1fr
		
		.Advantage_textWrapper
			margin-bottom 200px
			
			@media $xlMinus
				margin-bottom 139px
			
			@media $smMinus
				margin-bottom 0