.AdvantagesSlider
	&_controls
		position absolute
		z-index 1
		top 351px
		right 0
		left 0
		display grid
		grid-template-columns auto 1fr auto
		column-gap 20px
		align-items center
		width 288px
		max-width 100%
		margin-right auto
		margin-left auto