.Advantages
	position relative
	padding 130px 0 100px
	background $darkBlue url('../img/bg_advantages.png') left bottom no-repeat
	
	&_container
		padding-left 340px
	
	&_item
		margin-bottom 146px
		
		&:last-child
			margin-bottom 0
		
		&-reverse
			margin-bottom 77px