.Advantages
	position relative
	padding 130px 0 100px
	background $darkBlue
	
	@media $xlMinus
		padding 91px 0 73px
	
	@media $smMinus
		padding 217px 0 79px
	
	@media $xs
		padding 48px 0
	
	&_title
		position relative
		z-index 10
		// margin 0 16px -16px
		max-width 320px
		margin 0 auto -16px
	
	&_container
		padding-left 344px
		
		@media $xlMinus
			padding-left 245px
		
		@media $smMinus
			padding-left 0
	
	&_item
		margin-bottom 146px
		
		@media $xlMinus
			margin-bottom 109px
		
		@media $smMinus
			margin-bottom 71px
		
		@media $xs
			margin-right auto
			margin-left auto
		
		&:last-child
			margin-bottom 0
		
		&-mop
			margin-bottom 77px
			
			@media $xlMinus
				margin-bottom 51px
			
			@media $smMinus
				margin-bottom 109px