.CircleImg
  // display grid
  // place-items center
  width 720px
  height 720px
  max-width 100%
  padding 62px
  border 2px solid $grey
  border-radius 50%
  
  @media $xlMinus
    width 512px
    height 512px
    padding 41px
  
  @media $smMinus
    width 485px
    height 485px
  
  @media $xs
    max-width none
    width 330px
    height 330px
    padding 27px
  
  &_img
    border-radius 50%
