.ContactsBlock
  $height=192px
  display grid
  grid-template-columns repeat(2, 1fr)
  width 575px
  max-width 100%
  padding 0 25px
  background rgba($darkBrown, 50%)
  height $height
  margin-bottom -($height)
  align-items center
  margin-left auto
  position sticky
  top 0
  z-index 99
  
  @media $xlMinus
    width 408px
    padding 51px 33px
  
  &_left
    display grid
    justify-items end
    margin-right 25px
    
    @media $xlMinus
      margin-right 15px
  
  &_phone
    margin-bottom 5px
  
  &_orderCall
    margin-right 2px
  
  &_right
    margin-left 5px
