.ContactsBlock
	display grid
	grid 1fr / 1fr 1fr
	width 575px
	padding 72px 25px
	background rgba($darkBrown, 50%)
	
	&_left
		display grid
		justify-items end
		margin-right 25px
	
	&_phone
		margin-bottom 5px
	
	&_orderCall
		margin-right 2px
	
	&_right
		margin-left 5px