.FormSection
	position relative
	display grid
	grid 1fr / 1fr 1fr
	
	&_left,
	&_right
		padding-top 247px
		padding-bottom 250px
	
	&_left
		padding-left 344px
		background $beige
	
	&_right
		padding-right 30px
		padding-left 38px
		text-align center
		background url('../img/apartment_choice.jpg') 0 0 / cover no-repeat
	
	&_title
		margin-bottom 85px
	
	&_circleBtn
		position absolute
		right 0
		bottom -46px
		left 0
		margin auto