.GallerySlider
	&_wrapper
		margin-bottom 50px
		
	&_slide
		width auto
		font-size 0
	
	.SwiperPagination
		width 1216px
		max-width 100%
	
	& + .CircleBtn
		position absolute
		z-index 1
		top 0
		right 198px
		bottom 70px
		margin auto