.GallerySection
  position relative
  background $darkBlue
  
  &_container
    padding 67px 0 102px 344px

    @media $xlMinus
      padding 47px 0 70px 244px
    
    @media $smMinus
      padding 38px 0 31px
    
    @media $xs
      padding 46px 0 31px
  
  &_sliderWrapper
    margin-bottom 50px
