.HeroSection
	display grid
	grid 1fr / 392px 1fr
	// min-height 100%
	// min-height 1010px
	min-height 100vh
	
	&_right
		min-width 0
	
	&_contacts
		position absolute
		z-index 100
		top 73px
		right 73px
		display grid
		justify-items end
	
	&_phone
		margin-bottom 8px
	
	&_orderCall
		margin-right 2px