.HeroSlide
	display grid
	grid 1fr / 630px
	height 100%
	align-items end
	padding-bottom 97px
	padding-left 94px
	background-position 0 0
	background-size contain
	background-size 100% 100%
	// background-size 100% auto
	// background-repeat no-repeat
	color $white
	
	&_text
		width 300px
		margin-bottom 6px
		font-size 18px
		line-height 1.78
		letter-spacing 0.02em