.HousePlan
  position relative
  width 557px
  max-width 100%

  @media $xlMinus
    width 397px
  
  &_realEstate
    position absolute
    top 28%
    left 36%

    @media $xlMinus
      top 33%
      left 35.4%
