.HousePlan
  position relative
  width 557px
  max-width 100%

  @media $xlMinus
    width 397px
  
  &_realEstate
    position absolute
    top 28%
    left 36%

    @media $xlMinus
      top 33%
      left 35.4%

  &_img
    display block

  &_scheme
    position absolute
    top 0
    left 0
    width 100%
    height 100%

  &_item
    fill rgb(68, 55, 50)
    opacity 0
    cursor pointer

    &:hover
      opacity 0.2

