.LeftSidebar
	position absolute
	z-index 10
	top 0
	left 0
	display grid
	// grid 1fr / 1fr
	align-content space-between
	width 300px
	// height 600px
	height 1085px
	max-height 100%
	// max-height 100vh
	// height 100%
	padding 71px 70px
	
	&_logo
		margin-bottom 286px
	
	&_menuLink,
	&_soclinks
		// position relative
		justify-self start
	
	&_menuLink
		transform rotate(-90deg)
		margin-bottom 290px
		margin-left -25px