.LeftSidebar
	position absolute
	z-index 10
	top 0
	left 0
	display grid
	align-content space-between
	justify-content center
	// width 300px
	width 280px
	height 1085px
	max-height 100%
	// padding 71px 70px
	padding 71px 30px
	
	@media $xlMinus
		width 201px
		height 775px
		padding-top 52px
		padding-bottom 52px
	
	&_logo
		// margin-bottom 286px
		margin-bottom 50px
	
	&_menuLink,
	&_soclinks
		justify-self start
	
	&_menuLink
		position absolute
		top 53.6%
		left 50px
		transform rotate(-90deg)
		// margin-bottom 290px
		// margin-left -25px
		
		@media $xlMinus
		// 	top 38.1%
			left 34px