.Location
	display grid
	grid 1fr / 60.5% 520px
	// align-items center
	margin-right auto
	margin-left auto
	padding-right 20px
	padding-left 20px
	
	&_map
		margin-top -43px
		margin-left -25px
	
	&_mapImg
		max-width none
	
	&_textWrapper
		z-index 10
		margin-top 168px
	
	&_title
		margin-bottom 23px
	
	&_text
		font-size 18px
		line-height 1.89
		letter-spacing 0.02em