.Location
  padding-top 208px
  padding-bottom 360px
  background url('../img/map.svg') 0 0 / 63.7% no-repeat
  
  @media $xlMinus
    padding-top 148px
    padding-bottom 251px
    background-size 60% auto
  
  @media $smMinus
    padding-top 52px
    // padding-bottom 104.3%
    padding-bottom 800px
    background-size auto
    background-position 66.2% bottom
  
  @media $xs
    padding-top 30px
    padding-bottom 483px
    // background url('../img/map_mob.svg') center bottom no-repeat
    background-size 767px auto
    background-position 67.2% 107%
  
  &_container
    display grid
    justify-content end
    width 1480px
    max-width 100%
    margin-right auto
    margin-left auto
    padding-right 20px
    padding-left 20px
    grid-template-columns 520px
    
    @media $xlMinus
      width 1025px
      grid-template-columns 350px
    
    @media $smMinus
      grid-template-columns auto
      padding-right 33px
      padding-left 33px
    
    @media $xs
      padding-right 15px
      padding-left 15px
  
  &_title
    margin-bottom 23px
    
    @media $xlMinus
      margin-bottom 18px
    
    @media $smMinus
      margin-bottom 26px
    
    @media $xs
      margin-bottom 18px
  
  &_text
    font-size 18px
    line-height 1.89
    letter-spacing 0.02em
    
    @media $xlMinus
      font-size 14px
      letter-spacing 0.01em
    
    @media $smMinus
      font-size 18px
      letter-spacing 0.02em
    
    @media $xs
      font-size 16px
      line-height 1.75
