.MainMenu
	&_list
		@media $smMinus
			text-align right

	&_item,
	&_link
		color $white
		@extend .transition
		
		&:hover
			color $grey
	
	&_item
		list-style none
		// margin-bottom 2.34em
		margin-bottom 42px
		font-size 18px
		letter-spacing 0.02em
		
		@media $xlMinus
			margin-bottom 30px
			font-size 16px
		
		@media $smMinus
			margin-bottom 42px
			font-size 18px
		
		&:last-child
			margin-bottom 0
	
	&_link
		display block
		text-decoration none