.MainMenu
	&_item,
	&_link
		color $white
		@extend .transition
		
		&:hover
			color $grey
	
	&_item
		list-style none
		margin-bottom 42px
		font-size 18px
		letter-spacing 0.02em
		
		&:last-child
			margin-bottom 0
	
	&_link
		display block
		text-decoration none