.MapIcons
	&_list
		list-style none
		display grid
		grid-auto-flow column
		justify-content space-between
		padding 40px 40px 46px
		border-bottom 1px solid $lightGrey
	
	&_item
		margin-right 10px
		
		&:last-child
			margin-right 0