.MapIcon
  display grid
  // grid-auto-flow column
  grid-template-columns 40px auto
  align-items center
  border none
  outline none
  background transparent
  cursor pointer

  @media $xlMinus
    grid-template-columns 1fr
    justify-items center
  
  &_title
    margin-left 14px
    color #7A7E81
    font-weight normal
    font-size 12px
    line-height 1.5
    text-transform uppercase
    
    @media $xlMinus
      margin-top 16px
      margin-left 0
      font-size 9px
