.MapSection
	position relative
	
	&_container
		width 1650px
		max-width 100%
		padding 78px 0 121px 344px
	
	&_title
		margin-bottom 74px
	
	&_icons
		margin-bottom 40px
	
	&_textAndStatistics
		display grid
		grid 1fr / 48% 1fr
	
	&_text
		width 476px
		max-width 100%
		line-height 1.625
		letter-spacing 0.02em
	
	&_statistics
		margin-left 9px