.PlanSolution
	width 384px
	max-width 100%
	padding 39px 30px 20px
	border 1px solid rgba($darkBlue, 10%)
	
	@media $xlMinus
		width 265px
		padding 27px 21px 14px
	
	@media $smMinus
		width 384px
		padding 39px 30px 20px
	
	@media $xs
		width 288px
		padding 39px 13px 20px
	
	&_imgWrapper
		text-align center
		margin-bottom 38px
		
		@media $xlMinus
			margin-bottom 22px
		
		@media $smMinus
			margin-bottom 38px
		
		@media $xs
			padding-right 15px
			padding-left 15px
	
	&_img
		@media $xlMinus
			width 190px
		
		@media $smMinus
			width auto
	
	&_characteristics
		list-style none
		display grid
		grid-template-columns repeat(2, auto)
	
	&_characteristic
		margin-right 30px
		
		@media $xlMinus
			margin-right 27px
		
		@media $smMinus
			margin-right 30px
		
		@media $xs
			margin-right 18px
		
		&:last-child
			margin-right 0
	
	&_characteristicName
		margin-bottom 7px
		font-size 16px
		line-height 1.25
		color $brown
		
		@media $xlMinus
			margin-bottom 4px
			font-size 12px
		
		@media $smMinus
			margin-bottom 7px
			font-size 16px
	
	&_characteristicValue
		font-size 24px
		line-height 1
		font-family $forum
		color $darkBlue
		
		@media $xlMinus
			font-size 17px
		
		@media $smMinus
			font-size 24px
		
		sup
			position relative
			right 5px
			font-size 12px