.PlanningSolutionsSlider
  &_slide
    @media $smMinus
      width auto
      
  .PlanningSolutionsSlider_pagination
    margin-top 30px
    
    @media $xlMinus
      margin-top 18px
    
    @media $smMinus
      margin-top 24px
  
  & + .PlanningSolutionsSlider_circleBtn
    position absolute
    z-index 10
    top 0
    right 70px
    bottom 60px
    margin auto
    
    @media $xlMinus
      right 50px
      bottom 38px
