.RealEstate
	width 241px
	max-width 100%
	box-shadow 0 15px 40px rgba(0, 36, 77, 0.1)

	@media $xlMinus
		width 170px
	
	&_title
		padding 17px 18px
		border-top-right-radius 3px
		border-top-left-radius 3px
		background $black
		color $white
		font-weight normal
		font-size 24px
		line-height 1.0833
		font-family $forum

		@media $xlMinus
			padding 12px 13px
			font-size 17px
	
	&_textWrapper
		padding 13px 19px 21px
		border-bottom-right-radius 3px
		border-bottom-left-radius 3px
		background $white
		font-size 14px

		@media $xlMinus
			padding 9px 12px 11px
			font-size 10px
	
	&_apartmentNumber
		margin-bottom 23px
		
		@media $xlMinus
			margin-bottom 16px
	
	&_characteristics
		list-style none
		line-height 1.21428
	
	&_characteristic
		display grid
		grid-auto-flow column
		justify-content space-between
		margin-bottom 15px

		@media $xlMinus
			margin-bottom 9px
		
		sup
			margin-left -4px
			font-size 9px
		
		&:last-child
			margin-bottom 0
	
	&_characteristicName
		color $brown