.SectionTitle
	font-weight normal
	font-family $forum
	font-size 80px
	line-height 1.1
	
	@media $xlMinus
		font-size 57px
	
	@media $smMinus
		font-size 80px
	
	@media $xs
		font-size 34px
		line-height 1.1176
	
	&-white
		color $white
	
	&-brown
		color $brown