.Soclinks
	&_list
		list-style none
	
	&_item
		margin-bottom 5px
		
		// @media $xlMinus
		// 	margin-bottom 2px
		
		&:last-child
			margin-bottom 0
	
	&-inline
		.Soclinks_list
			display grid
			grid-auto-flow column
			justify-content center
		
		.Soclinks_item
			margin-right 16px

			// @media $xlMinus
			// 	margin-right 11px
			
			&:last-child
				margin-right 0