.Statistics
  &_label
    margin-bottom 20px
    color $brown
    line-height 1.25
    
  &_list
    list-style none
    font-family $forum
  
  &_item
    margin-bottom 40px
    
    @media $xlMinus
      margin-bottom 29px
    
    @media $smMinus
      margin-bottom 34px
    
    @media $xs
      display grid
      grid-auto-flow column
      justify-content start
      align-items center
      margin-bottom 19px
    
    &:last-child
      margin-bottom 0
  
  &_number
    margin-bottom -0.1em
    font-size 64px
    line-height 1.09375
    
    @media $md
      font-size 50px
    
    @media $smMinus
      margin-bottom -10px
  
  &_text
    font-size 21px
    line-height 1.09523

    @media $xs
      margin-top 5px
      margin-left 10px
      letter-spacing -1px
      font-size 24px
  
  &-inline
    .Statistics_list
      display grid
      grid-template-columns repeat(auto-fit,minmax(50px, auto))
      justify-content start
      column-gap 67px

      @media $md
        column-gap 38px
        padding-right 16p

      @media $smMinus
        column-gap 78px
        grid-template-columns repeat(auto-fit,minmax(85px, auto))

      @media $xs
        gap 25px 0
        grid-template-columns 1fr
    
    .Statistics_item
      margin-bottom 0

      @media $xs
        grid-auto-flow row
        grid-template-columns 100px 1fr
    
    .Statistics_number
      margin-bottom 0
    
    .Statistics_text
      font-size 18px
      line-height 1.11

      @media $md
        font-size 16px

      @media $xs
        margin-top 2px
        margin-left 16px
        font-size 24px
        line-height 1.5
        letter-spacing 0
