// Colors
$white = #fff
$black = #201600
$brown = #CD7858
$darkBrown = #443732
$darkBlue = #292B32
$orange = #CD7858
$beige = #F9F0EC
$grey = #B39D92
$lightGrey = #E5E5E5

// Fonts
$baseFont = 'Montserrat', sans-serif
$forum = 'Forum', sans-serif

// START: layout vars
$xxs = '(max-width: 576px)'
$xs = '(max-width: 768px)'
$smMinus = '(max-width: 1200px)'
$sm = '(min-width: 769px) and (max-width: 1200px)'
$smPlus = '(min-width: 769px)'
$md = '(min-width: 1201px)'
$lgMinus = '(max-width: 1440px)'
$lg = '(min-width: 1201px) and (max-width: 1440px)'
$xlMinus = '(max-width: 1919px)'
$lg = '(min-width: 1441px) and (max-width: 1919px)'
$xl = '(min-width: 1920px)'
