// Colors
$white = #fff
$black = #201600
$brown = #CD7858
$darkBrown = #443732
$darkBlue = #292B32
$orange = #CD7858
$beige = #F9F0EC
$grey = #B39D92
$lightGrey = #E5E5E5

// Fonts
$baseFont = 'Montserrat', sans-serif
$forum = 'Forum', sans-serif

// START: layout vars
$xxs = '(max-width: 575px)'
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1199px)'
$sm = '(min-width: 768px) and (max-width: 1199px)'
$smPlus = '(min-width: 768px)'
$mdPlus = '(min-width: 1200px)'
$lgMinus = '(max-width: 1439px)'
$md = '(min-width: 1200px) and (max-width: 1439px)'
$xlMinus = '(max-width: 1919px)'
$lg = '(min-width: 1440px) and (max-width: 1919px)'
$xlPlus = '(min-width: 1920px)'
