@require '../../node_modules/swiper/swiper-bundle.css'
@require "./includes/variables"
@require "./includes/mixins"
@require "./includes/fonts"
@require "./includes/base"
@require "./includes/Container"
@require "./includes/Frontpage"
@require "./includes/CircleBtn"
@require "./includes/HeroSection"
@require "./includes/HeroSlider"
@require "./includes/HeroSlide"
@require "./includes/Navbar"
@require "./includes/Overlay"
@require "./includes/Logo"
@require "./includes/MainMenu"
@require "./includes/BtnOutline"
@require "./includes/Phone"
@require "./includes/OrderCall"
@require "./includes/SwiperPagination"
@require "./includes/About"
@require "./includes/ContactsBlock"
@require "./includes/LeftSidebar"
@require "./includes/MenuLink"
@require "./includes/Soclink"
@require "./includes/Soclinks"
@require "./includes/SectionTitle"
@require "./includes/Statistics"
@require "./includes/CircleImg"
@require "./includes/Location"
@require "./includes/Advantages"
@require "./includes/Advantage"
@require "./includes/TopBtn"
@require "./includes/PlanningSolutions"
@require "./includes/PlanningSolutionsSlider"
@require "./includes/Tabs"
@require "./includes/PlanSolution"
@require "./includes/ApartmentChoosing"
@require "./includes/RealEstate"
@require "./includes/HousePlan"
@require "./includes/MapSection"
@require "./includes/MapIcon"
@require "./includes/MapIcons"
@require "./includes/GallerySection"
@require "./includes/GallerySlider"
@require "./includes/FormSection"
@require "./includes/Form"
@require "./includes/Footer"
