@require "./includes/variables"
@require "./includes/helpers"
@require "./includes/mixins"
@require "./includes/fonts"
@require "./includes/base"
@require "./includes/BtnOutline"
@require "./includes/Container"
@require "./includes/Frontpage"
@require "./includes/CircleBtn"
@require "./includes/CircleIcon"
@require "./includes/HeroSection"
@require "./includes/HeroSlider"
@require "./includes/HeroSlide"
@require "./includes/Navbar"
@require "./includes/Overlay"
@require "./includes/Logo"
@require "./includes/MainMenu"
@require "./includes/Phone"
@require "./includes/OrderCall"
@require "./includes/SwiperPagination"
@require "./includes/About"
@require "./includes/ContactsBlock"
@require "./includes/LeftSidebar"
@require "./includes/MenuLink"
@require "./includes/Soclink"
@require "./includes/Soclinks"
@require "./includes/SectionTitle"
@require "./includes/Statistics"
@require "./includes/CircleImg"
@require "./includes/Location"
@require "./includes/Advantages"
@require "./includes/Advantage"
@require "./includes/TopBtn"
@require "./includes/PlanningSolutions"
@require "./includes/PlanningSolutionsSlider"
@require "./includes/Tabs"
@require "./includes/PlanSolution"
@require "./includes/ApartmentChoosing"
@require "./includes/RealEstate"
@require "./includes/Ratio"
@require "./includes/HousePlan"
@require "./includes/MapSection"
@require "./includes/MapIcon"
@require "./includes/MapIcons"
@require "./includes/GallerySection"
@require "./includes/GallerySlider"
@require "./includes/FormSection"
@require "./includes/Form"
@require "./includes/Footer"
@require "./includes/MapSvgIco"

// jquery-ui override
.ui-tooltip
  pointer-events none
  background #fff
  box-shadow 0px 15px 40px rgba(0, 36, 77, 0.1)
  padding: 0
  border 0!important
