<svg xmlns="http://www.w3.org/2000/svg" class="HousePlan_scheme" viewBox="0 0 557 618">
  <path d="M43.845 40.673h155.726v150.435H43.845z" class="HousePlan_item"/>
  <path d="M60.476 407.31h216.958v177.649H60.476z" class="HousePlan_item"/>
  <path d="M271.387 265.19h170.845v114.149H271.387z" class="HousePlan_item"/>
  <path d="M365.125 63.351h127.756v127.756H365.125z" class="HousePlan_item"/>
  <path d="M368.149 452.667h154.214v133.048H368.149z" class="HousePlan_item"/>
</svg>
